<?xml version="1.0" encoding="utf-8"?>
<root>
  <tablePath>E:\gong2design\trunk</tablePath>
  <tortoiseSvnPath>C:\Program Files\TortoiseSVN\bin</tortoiseSvnPath>
  <svnPath>C:\Program Files\TortoiseSVN\bin</svnPath>
  <pythonPath>C:\Python27</pythonPath>
  <siteUrl>http://10.10.10.32:8080/gametools/design/index</siteUrl>
</root>